<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.deviceyun.smarthome.dao.DeviceDao">
    <!--    result maps     -->
    <resultMap id="podcastsMap" type="Podcast" >
        <id column="podcast_id" property="podcastId"  />
        <result column="url" property="url" />
        <result column="rating" property="rating" />
        <result column="numberRatings" property="number_ratings" />
        <result column="number_visitors" property="numberOfVisitors" />        
        <result column="DESCRIPTION" property="description" />      
        <result column="PODCAST_IMAGE_URL" property="urlOfImageToDisplay" />      
        <result column="TITLE" property="title" />            
        <result column="last_episode_url" property="lastEpisodeMediaUrl" />           
        <result column="title_in_url" property="titleInUrl" />  
        <result column="publication_date" property="publicationDate"/>
    </resultMap>  
 
    <select id="getNewestPodcasts" resultMap="podcastsMap" parameterType="Integer">
        SELECT
            PODCAST_ID,
            URL,
            NUMBER_VISITORS,
            DESCRIPTION,
            PODCAST_IMAGE_URL,
            TITLE,
            last_episode_url,
            title_in_url,
            publication_date          
        FROM
            podcasts
        WHERE
            availability=200        
        ORDER BY publication_date DESC
            limit 0, #{value};
    </select>
      
</mapper>